body{
    margin: 20px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F5EB;
    padding-bottom: 300px;
}
header{
    text-align: center;
    color: #EAC7C7;
}
table{
    color: #ce7d7d;
}
aside img{
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section{
    text-align: center;
    margin: 5px;
    font-size: medium;
}
article h2{
    color: #94B49F;
}
section article ul li{
    list-style-type: none;
}
footer{
    text-align: center;
}
footer article h3{
    color: #EAC7C7;
}
footer h1{
    color: #ce7d7d;
}
.dropdown-menu{
    text-align: center;
}
.dropdown-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.dropdown-menu ul li{
    display: inline-block;
    width: 250px;
}
.dropdown-menu ul li a{
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}
.dropdown-menu ul li a:hover{
    background-color: #94B49F;
}
.dropdown-menu ul li ul{
    display: none;
    position: absolute;
    width: 250px;
}
.dropdown-menu ul li ul li{
    background-color:#F7F5EB;
}
.dropdown-menu ul li:hover ul{
    display: block;
}

.dropdown-menu li ul li{
    display: block;
}
footer img{
    text-align: center;
    height: 100px;
}